$breakpoint-tablet: 767px;

$vcrMainColour: silver;
$vcrHighlightColour: darkgray;
$vcrDarkColour: black;
$vcrPowerLightColour: chartreuse;
$vcrRecordButtonColour: orange;

$tvFrameColour: SaddleBrown;
$tvHighlightColour: silver;
$tvDarkcolour: black;
$tvOffColour: #181818;
$tvTextColour: white;
$tvChanelBackgroundColour: blue;

$buttonpressdistance: 0.0625rem;

// Responsive
@mixin tablet {
  @media all and (min-width: $breakpoint-tablet) {
    @content;
  }
}

// Animations
@keyframes cassetteOpenClose {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes vhsLoading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}

// Fonts
@font-face {
  font-family: "Digital-7";
  src: url("https://assets.codepen.io/8841541/digital-7.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Marker";
  src: url("https://assets.codepen.io/8841541/PermanentMarker-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Press-Start-2P";
  src: url("https://assets.codepen.io/8841541/PressStart2P-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

// Styles
* {
  box-sizing: border-box;
}

.container {
  margin: 2rem auto 0;
  width: 90%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    width: 768px;
  }

  .vcr {
    width: 70%;
    min-width: 250px;
    aspect-ratio: 5/1;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.7rem;
    line-height: 0.5rem;

    @include tablet {
      width: 70%;
    }

    .vcrtop {
      width: 100%;
      aspect-ratio: 12.5/1;
      min-height: 20px;

      overflow: hidden;

      .carriage {
        width: 40%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-left: 10%;

        cursor: pointer;

        &--close {
          animation: cassetteOpenClose 1s ease-in-out forwards;
        }
        &--open {
          animation: cassetteOpenClose 1s ease-in-out forwards reverse;
        }

        .top {
          width: 100%;
          height: 10%;
          background: $vcrMainColour;
          border: 2px solid $vcrHighlightColour;
        }

        .middle {
          width: 94%;
          height: 100%;

          display: flex;
          justify-content: space-around;

          .strut {
            border: 1px solid $vcrDarkColour;
            width: 1%;
            height: 100%;
          }
          .tapespace {
            width: 98%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .cassette {
              width: 98%;
              height: 75%;
              background: $vcrDarkColour;
              border-radius: 3px;

              display: flex;
              align-items: center;
              justify-content: space-around;

              &__label {
                width: 75%;
                height: 80%;
                border-radius: 3px;
                background: white;

                display: flex;
                justify-content: center;
                align-items: center;

                font-family: "Marker";
              }
              &__spacer {
                width: 15%;
                height: 80%;
              }
            }
            .holder {
              width: 100%;
              height: 1%;
              border: 1px solid $vcrDarkColour;
            }
          }
        }
      }
    }

    .vcrfront {
      width: 100%;
      height: 80%;
      min-height: 40px;

      background: silver;
      border: 3px solid darkgray;

      display: flex;
      flex-direction: row;
      align-items: center;

      &__power,
      &__controls,
      &__display {
        height: 86%;
      }

      &__power {
        width: 24%;
        position: relative;

        .powerbtn {
          width: 30%;
          aspect-ratio: 1.25/1;

          position: relative;
          top: 5%;
          left: 20%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          background: $vcrDarkColour;

          cursor: pointer;

          .powerbutton {
            background: $vcrMainColour;
            width: 94%;
            height: 92%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__light {
              width: 40%;
              aspect-ratio: 1.5/1;
              border: 2px solid darkgray;

              background: $vcrHighlightColour;

              &--on {
                background: $vcrPowerLightColour;
              }
            }
            &__lbl {
              width: 20%;
              text-align: center;
            }

            &:active {
              transform: translate(0, $buttonpressdistance);
            }
          }
        }
      }

      &__controls {
        width: 35%;
        background: $vcrDarkColour;

        display: flex;
        align-items: center;
        justify-content: space-around;

        .playrecrewff {
          width: 46%;
          height: 96%;
          background: $vcrMainColour;
          position: relative;

          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .playbtn,
          .recordbtn,
          .rewbtn,
          .ffbtn {
            width: 50%;
            height: 50%;
          }

          .playbtn {
            position: relative;
            background: $vcrMainColour;
            cursor: pointer;

            .playbutton {
              transform: rotate(90deg);
              position: absolute;
              top: 20%;
              left: 15%;
            }

            &:active {
              transform: translate(-$buttonpressdistance, -$buttonpressdistance);
            }
          }
          .recordbtn {
            background: $vcrDarkColour;
            position: relative;
            clip-path: polygon(0 0, 100% 0, 100% 100%);
            .recordbutton {
              width: 95%;
              height: 95%;
              background: $vcrRecordButtonColour;

              position: absolute;
              top: 0;
              right: 0;
              clip-path: polygon(0 0, 100% 0, 100% 100%);

              .recordicon {
                position: absolute;
                top: 10%;
                right: 15%;
                font-size: 0.9rem;
                line-height: 0.6rem;
              }
            }

            &:active {
              transform: translate($buttonpressdistance, -$buttonpressdistance);
            }
          }
          .rewbtn {
            position: relative;
            cursor: pointer;

            .rewbutton {
              position: absolute;
              bottom: 20%;
              left: 15%;
            }

            &:active {
              background: $vcrMainColour;
              transform: translate(-$buttonpressdistance, $buttonpressdistance);
            }
          }
          .ffbtn {
            position: relative;
            cursor: pointer;

            .ffbutton {
              position: absolute;
              bottom: 20%;
              right: 15%;
            }

            &:active {
              background: $vcrMainColour;
              transform: translate($buttonpressdistance, $buttonpressdistance);
            }
          }
        }
        .stoppause {
          width: 25%;
          height: 96%;
          background: $vcrMainColour;

          display: flex;
          flex-direction: column;

          .stopbtn,
          .pausebtn {
            width: 100%;
            height: 50%;
            cursor: pointer;

            background: $vcrMainColour;
            position: relative;
          }

          .stopbtn {
            .stopbutton {
              position: absolute;
              top: 20%;
              left: 50%;
              transform: translate(-50%, 0);
            }
            &:active {
              transform: translate(0, -$buttonpressdistance);
            }
          }
          .pausebtn {
            .pausebutton {
              position: absolute;
              bottom: 20%;
              left: 50%;
              transform: translate(-50%, 0);
            }
            &:active {
              transform: translate(0, $buttonpressdistance);
            }
          }
        }

        .eject {
          width: 25%;
          height: 96%;
          background: $vcrMainColour;

          .ejectbtn {
            width: 100%;
            height: 100%;
            background: $vcrMainColour;
            position: relative;
            cursor: pointer;

            .ejectbutton {
              position: absolute;
              bottom: 5%;
              left: 50%;
              transform: translate(-50%, 0);
            }

            &:active {
              transform: translate(0, $buttonpressdistance);
            }
          }
        }
      }

      &__display {
        width: 41%;
        background: $vcrDarkColour;

        display: flex;
        justify-content: center;
        align-items: center;

        .displayarea {
          width: 90%;
          height: 80%;

          .displaytext {
            width: 100%;
            height: 100%;

            font-family: "Digital-7";
            font-size: 1.5rem;
            color: $vcrHighlightColour;

            display: flex;
            justify-content: center;
            align-items: center;

            &--on {
              color: white;
            }
          }
        }
      }
    }
    .base {
      width: 90%;
      height: 20%;
      min-height: 10px;

      background: $vcrDarkColour;

      clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
    }
  }

  .tv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .woodframe {
      border: 1rem solid $tvFrameColour;
      width: 100%;

      .crt {
        width: 100%;
        aspect-ratio: 4 / 3;

        background-color: $tvOffColour;
        border-style: solid;
        border-color: $tvHighlightColour;
        border-width: 0.5rem;

        position: relative;

        &__contents {
          width: 100%;
          aspect-ratio: 4/3;
          position: relative;
        }
        &__image {
          width: 100%;
          height: 99%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          position: relative;
          display: none;

          &--on {
            display: block;
            background-color: $tvChanelBackgroundColour;
          }
        }

        .channel {
          width: 15%;
          aspect-ratio: 1 / 1;

          display: none;
          justify-content: center;
          align-items: center;

          color: $tvTextColour;
          background-color: $tvChanelBackgroundColour;

          position: absolute;
          top: 7.5%;
          left: 7.5%;

          font-family: "Press-Start-2p";

          &--on {
            display: flex;
          }
        }

        .indicator {
          width: 15%;
          aspect-ratio: 1 / 1;

          display: none;
          justify-content: center;
          align-items: center;

          color: $tvTextColour;
          background-color: $tvChanelBackgroundColour;

          position: absolute;
          top: 7.5%;
          right: 7.5%;

          font-family: "Press-Start-2p";

          &__icon {
            width: 80%;
            display: none;

            &--flashing {
              animation: vhsLoading;
              animation-iteration-count: infinite;
              animation-duration: 2;
            }

            &--on {
              display: flex;
            }
          }

          &--on {
            display: flex;
          }
        }

        &__glass {
          width: 100%;
          height: 100%;

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          &--on {
            background: linear-gradient(to top, #fff, #fff, #666666, #666666);
            background-size: cover;
            background-size: 100% 0.3125rem;
            animation: scanlines;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            opacity: 0.25;
          }
        }

        &__bezel {
          width: 100%;
          height: 100%;
          background-image: url("https://assets.codepen.io/8841541/bezel.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 1;
        }
      }
    }

    .base {
      height: 1.5rem;
      width: 80%;

      background: #010101;
      border-radius: 0 0 0.625rem 0.625rem;

      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .buttons {
        width: 60%;
        height: 1.25rem;

        margin-right: 1.25rem;

        background: #191919;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet {
          width: 25%;
        }

        .button {
          width: 1.25rem;
          height: 1.25rem;

          font-size: 0.75rem;
          color: $tvTextColour;
          background: $tvDarkcolour;

          display: flex;
          justify-content: center;
          align-items: center;

          cursor: pointer;

          &--volumedown,
          &--volumeup,
          &--channeldown,
          &--channelup,
          &--power {
            &:active {
              transform: translateY($buttonpressdistance);
            }
          }

          &--label {
            font-size: 0.4rem;
            font-family: "Press-Start-2P";
            color: $tvTextColour;

            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
