@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.press-start-2p {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

// Scan Lines Animation
@keyframes scanlines {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -10px;
    }
}

.container {
    margin: 5rem auto 0;
    width: 100%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tv {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .woodframe {
            border: 1rem solid SaddleBrown;
            width: calc(100% - 2rem);
        }

        .crt {

            width: calc(100% - 1rem);
            aspect-ratio: 4 / 3;

            background-color: #000011;
            border-style: solid;
            border-color: silver;
            border-width: .5rem;

            position: relative;

            &__image {
                width: 100%;
                height: 100%;

                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                background-color: #191919;

                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            &__screen {
                width: 100%;
                height: 100%; 

                background: linear-gradient(to top, #fff, #fff, #666666, #666666);
                background-size: cover;
                background-size: 100% .3125rem;
                animation: scanlines;
                animation-duration: 1s;
                animation-iteration-count: infinite;

                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                opacity: 0.25;
            }

            &__bezel {
                width: 100%;
                height: 100%;
                background-image: url("https://assets.codepen.io/8841541/bezel.png");
                background-repeat: no-repeat;
                background-size: 100% 100%;

                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 1;
            }

            .channel {
                width: 20%;
                height: 20%;

                display: flex;
                justify-content: center;
                align-items: center;

                color: white;

                position: absolute;
                top: 7.5%;
                left: 7.5%;
            }
        }

        .base {
            height: 1.5rem;
            // width: 620px;
            width: 80%;

            background: #010101;
            border-radius: 0 0 10px 10px;

            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            &__buttons {
                /* width: 140px;
                height: 25px; */

                width: 40%;
                height: 1rem;
                
                margin-right: 1.25rem;

                background: #191919;

                display: flex;
                justify-content: space-between;
            }

            &__button {
                width: 1.25rem;
                height: 1.25rem;

                font-size: .75rem;
                color: white;
                background: black;

                display: flex;
                justify-content: center;
                align-items: center;
            }
            .up {
                transform: rotate(-90deg);
            }
            .down {
                transform: rotate(-90deg);
            }
        }
    }

    .shelf {
        /* height: 100px;
        width: 100px; */
        background: blue;
        display: none;
    }
}
